.diff-file {
  background: #2D2A2E !important;
  border: 1px solid #727072 !important;
  --syntax-keyword: #FF6188 !important;
  --syntax-string: #A9DC76 !important;
  --syntax-number: #AB9DF2 !important;
  --text-muted: #727072 !important;
  color: #FCFCFA !important;
}
.diff-file>header { background: #403E41 !important; border-bottom: 1px solid #727072 !important; color: #FFD866 !important; }
.diff-split td { border-right: 1px solid #727072 !important; }
.diff-split td span { color: #939293 !important; border-right: 1px solid #727072 !important; }
.diff-file tr.is-add, .diff-split td.is-add { background: rgba(169, 220, 118, 0.15) !important; }
.diff-file tr.is-remove, .diff-split td.is-remove { background: rgba(255, 97, 136, 0.15) !important; }
