.diff-file {
  background: #0f111a !important;
  border: 1px solid #23283e !important;
  --syntax-keyword: #82aaff !important;
  --syntax-string: #c3e88d !important;
  --syntax-number: #f78c6c !important;
  --text-muted: #464b5d !important;
  color: #a6accd !important;
}
.diff-file>header { background: #1a1e2e !important; border-bottom: 1px solid #23283e !important; }
.diff-split tr:nth-child(even) td { background-color: rgba(255, 255, 255, 0.02) !important; }
.diff-split td { border-right: 1px solid #23283e !important; }
.diff-split td span { color: #636da6 !important; border-right: 1px solid #23283e !important; }
.diff-file tr.is-add, .diff-split td.is-add { background: rgba(43, 219, 129, 0.15) !important; }
.diff-file tr.is-remove, .diff-split td.is-remove { background: rgba(247, 77, 104, 0.15) !important; }
